
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background: var(--base-glass);
    transition: all var(--trans);
    backdrop-filter: blur(5px);


    .close {
        position: absolute;
        top: var(--space-sm);
        right: var(--space-sm);
    }
}

.hidden {
    opacity: 0;
    pointer-events: none;
    user-select: none;
}